.resInfo {
text-align: center;
margin-top: 5rem;
}

.familyImage {
height: auto;
width: 250px;
}

h1 {
    text-align: center;
    color: royalblue;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
};

h2 {
    margin-top: 10rem;

};
p {
    font-size: large;
}
.border {
  border-style: solid;  
}